<script src="js/main.js"></script>
<input id="a" placeholder="Leg 1" class="form-inline" width="50px">
<input id="b" placeholder="Leg 2" class="form-inline" width="50px">
<button id="calc">Find the hypotenuse!</button>
<div id="output"></div>
<form method="get" action="/"><input type="submit" value="Back to homepage"></form>
