<script src="js/main.js"></script>
<input id="feet" placeholder="Feet">
<button id="calc2_2">Feet to Meters</button>
<input id="meters" placeholder="Meters">
<button id="calc2_1">Meters to Feet</button>

<div id="output2"></div>
<div id="output2_2"></div>
<form method="get" action="/"><input type="submit" value="Back to homepage"></form>