
<h1>Calculators Click one to let the magic begin!</h1>
<form method="get" action="/calc/pythag"><input type="submit" value="Pythagorean Calculator"></form>
<form method="get" action="/calc/conversion"><input type="submit" value="Complex Conversion Calculator"></form>
<form method="get" action="/calc/fibonacci"><input type="submit" value="Fibonacci Calculator"></form>

